/*I changed some rules to some of the existing Bootstrap class and made an extension of one as well.*/
.card {
    background-color: #003262;
    color: white;
    border-width: 5px;
    border-color: #003262;
}
.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: #ffffff00;
    --bs-table-border-color: #000000;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}
.btn-outline-berkelyblue {
    --bs-btn-color: #003262;
    --bs-btn-border-color: #003262;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #003262;
    --bs-btn-hover-border-color: #003262;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #003262;
    --bs-btn-active-border-color: #003262;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #003262;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #003262;
    --bs-gradient: none;
    }
.title {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px;
}